/*CSS Definiçoes Gerais- inicio */
:root{
    --neon: #A5F1E9;
    --white: #fff;
    --main: #051527;
    --light: #0A2647;
    --black: #000;
}
html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
}

h4{
    color: var(--neon);
}

h1{
    font-size: 120%;
    text-align: center;
    color: var(--white);
}

p{
    font-size: 120%;
    text-align: center;
    color: var(--white); 
}

body, ul, li,p{
margin: 0px;
padding: 0px;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
/*CSS Cabeçalho - inicio */

img{
    max-width: 100%;
    display: block;
}
/*CSS Definições Gereais - Fim */
/*CSS flexbox 1 - inicio */
header{
    background-color: #808080;
    display: flex;
    flex-wrap: wrap;
    justify-content:
    space-between;
    align-items: center;
    padding: 20px;
    
}
.menu{
    display: flex;
}
.menu li{
 list-style: none;
 margin-left: 10px;
}

/*CSS Cabeçalho - Fim */
/*CSS Rodapé - inicio */

.footer{
    background-color: #808080;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content:
    space-between;
    align-items: center;
    padding: 20px;
    
}
/*CSS Rodapé - fim */


/*CSS flexbox 1 - inicio */
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex> div{
    flex: 1 1 200px;
    margin: 10px;
}
/*CSS flexbox 1 - fim */