:root{
    --neon: #A5F1E9;
    --white: #fff;
    --main: #051527;
    --light: #0A2647;
    --black: #000;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20 #31c6d4;
    background: var(--black);
}
h1{
    color: var(--neon);
}
#perfilInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}
#perfilInfo{
    padding: auto;
    text-align: center;
    color: var(--white);
    border-radius: 8px; 
}
#perfilInfo {
    border-radius: 7px;
    background: transparent;
    border: 2px solid var(--light);
    color: var(--white);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    /* Estilos para telas menores que 768px */
    #perfilInfo {
        font-size: 16px;
    }
}






